<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  

<header>
  <nav id="header-nav" class="navbar navbar-default">
    <div class="container" id="header-container" >
      <div class="navbar-header">
        <div class="navbar-brand">
          <h1 id="comp-head">IIITB Placement Reviews</h1>
        </div>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collap-nav" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"> </span>
              <span class="icon-bar"> </span>
              <span class="icon-bar"> </span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="collap-nav">
        <ul id="nav-list" class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", "/welcome/index" %></li>
          <li><%= link_to "Feedback Form", "/student_feeds/new" %></li>
          <li><%= link_to "Student's Reviews", "/student_reviews/index" %></li>
          <li class="active"><%= link_to "Company's Reviews", "/company_reviews/index" %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<tbody>
<h1 id="sub-comp-head"> COMPANY REVIEWS </h1>
  <%= form_for(@companyreview) do |f| %>
    <%= f.collection_select :company_id , @company, :id, :compname, {:prompt => 'Select Company'},{:class=>"dropdown"}%>
    <%= f.submit "search", :class => "button"%>
    <% end %>
     <% @user.each do |companyreview| %>

    <div>
    <div class="w3-content" style="max-width:1400px">
      <div class="col-md-2"></div>
      <div class="row">
      <div class="col-xs-12 col-md-8" id = "box">
        <div class="w3-col ">
          <div class="w3-card-4 w3-margin w3-white">
            <div class="w3-container w3-padding-8">
              <h3 ><b><%= companyreview.name %> (<%= companyreview.year %>)</b></h3>
              
            </div>

            <div class="w3-container">
            <% if companyreview.feedback.length > 1000 %>
              <%= truncate companyreview.feedback, length:1000 %>
              <p><b><%= link_to '<button class="w3-button w3-padding-large w3-white w3-border">READ MORE >>></button>'.html_safe, companyreview, :target=>"_blank" %></b></p>
              <% else %>
              <%= companyreview.feedback %>
            <% end %>

        
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
    <hr style="margin:1px;">
    <% end %>
  
 </tbody>