
<tbody>
	<p id="notice"><%= notice %></p>

<% @studentfeeds.each do |studentfeed| %>
	<tr>
	<p>
  <strong>Rollno.:</strong>
  <%= studentfeed.rollno %>
</p>

<p>
  <strong>Company:</strong>
  <%= studentfeed.companyname %>
</p>

<div>
  <% if studentfeed.feeback.length > 10 %>
    <%= truncate(studentfeed.feeback, length: 10) %>
    <%= link_to '...Read more', '', class: "read-more-#{studentfeed.id}" %>
    <script>
      $('.read-more-<%= studentfeed.id %>').on('click', function(e) {
        e.preventDefault()
        $(this).parent().html('<%= escape_javascript studentfeed.feeback %>')
      })
    </script>
  <% else %>
    <%= studentfeed.feeback %>
  <% end %>
<div>
	</tr>
<% end %>
</tbody>

<%= link_to 'New StudentFeed', new_student_feed_path %>