

<%= form_for(@studentfeed) do |f| %>

<% if @studentfeed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@studentfeed.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @studentfeed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">  
	<div class="row">
		<span class="form-label col-sm-4"><%= f.label :'Roll number' %>*</span>
		<span class="form-fields col-sm-4"><%= f.text_field :rollno %></span>
		<div class="col-sm-4"></div>
	</div>

	<div class="row">
		<span class="form-label col-sm-4"><%= f.label :Email %>*</span>
		<span class="form-fields col-sm-4"><%= f.text_field :email %></span>
		<div class="col-sm-4"></div>
	</div>
	<div class="row">
		<span class="form-label col-sm-4"><%= f.label :Year %>*</span>
		<span class="form-fields col-sm-4"><%= f.text_field :year %></span>
		<div class="col-sm-4"></div>
	</div>
	<div class="row">
		<span class="form-label col-sm-4"><%= f.label :Feedback %>*</span>
		<span class="form-fields col-sm-4" id="feed-text"><%= f.text_area :feeback %></span>
		<div class="col-sm-4"></div>
	</div>
	<div class="row">
		<div class="col-sm-4"></div>
		<span ><%=  f.collection_select :company_id, Company.order(:compname),:id,:compname %></span>
	</div>
	<div class="row">
		<div class="col-sm-4"></div>
		<span><%= f.submit %></span>
	</div>
</div>
<% end %>