<link rel="stylesheet" href="/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css">

<script>
var expanded = false;

function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}
</script>

<header>
	<nav id="header-nav" class="navbar navbar-default">
		<div class="container" id="header-container" >
			<div class="navbar-header">
				<div class="navbar-brand">
					<h1 id="feed-head">IIITB Placement Reviews</h1>
				</div>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collap-nav" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle Navigation</span>
        			<span class="icon-bar"> </span>
        			<span class="icon-bar"> </span>
        			<span class="icon-bar"> </span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="collap-nav">
				<ul id="nav-list" class="nav navbar-nav navbar-right">
					<li><%= link_to "Home", "/welcome/index" %></li>
					<li class="active"><%= link_to "Student Feedback Form", "/student_feeds/new" %></li>
					<li><%= link_to "Student's Reviews", "/student_reviews/index" %></li>
					<li><%= link_to "Company's Reviews", "/company_reviews/index" %></li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<!--<header>
	<nav id="header-nav" class="navbar navbar-default">
		<div class="container" id="header-container" >
			<div class="navbar-header">
				<div class="navbar-brand">
					<h1 id="sec-feed-head">FeedBack Form</h1>
				</div>
			</div>
		</div>
	</nav>			
</header>-->

<%= form_for(@studentfeed) do |f| %>

 <% if @studentfeed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@studentfeed.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @studentfeed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h1 id="sub-feed-head">FeedBack Form</h1>
<!--<div class="container">
	<div class="row">
		<span class="form-label col-xs-4"><%= f.label :Name %>*</span>
		<span class="form-fields col-xs-4"><%= f.text_field :name %></span>
		<div class="col-sm-4"></div>
	</div>

	<div class="row">
		<span class="form-label col-xs-4"><%= f.label :'Roll number' %>*</span>
		<span class="form-fields col-xs-4"><%= f.text_field :rollno %></span>
		<div class="col-sm-4"></div>
	</div>
	<div class="row" id="dropdrown">
		<div class="col-xs-4"></div>
		<span class="col-xs-4"><%= f.select :stream, ['Imtech', 'Mtech', 'Phd']%></span>
		<div class="col-xs-4"></div>
	</div>
	<div class="row">
		<span class="form-label col-xs-4"><%= f.label :Email %>*</span>
		<span class="form-fields col-xs-4"><%= f.text_field :email %></span>
		<div class="col-xs-4"></div>
	</div>

	<div class="row">
		<span class="form-label col-xs-4"><%= f.label :'Phone no.' %>*</span>
		<span class="form-fields col-xs-4"><%= f.text_field :phone_no %></span>
		<div class="col-sm-4"></div>
	</div>

	<div class="row">
		<span class="form-label col-xs-4"><%= f.label :Year %>*</span>
		<span class="form-fields col-xs-4"><%= f.text_field :year %></span>
		<div class="col-xs-4"></div>
	</div>
	<div class="row">
		<span class="form-label col-xs-4"><%= f.label :Feedback %>*</span>
		<span class="form-fields col-xs-4" id="feed-text"><%= f.text_area :feeback %></span>
		<div class="col-xs-4"></div>
	</div>
	<div class="row" id="dropdrown">
		<div class="col-xs-4"></div>
		<span class="col-xs-4"><%=  f.collection_select :company_ids, @company,:id,:compname , {},{multiple: true} %></span>
		<div class="col-xs-4"></div>
	</div>
	<div class="row" id="submit">
		<div class="col-xs-4"></div>
		<span class="col-xs-4"><%= f.submit %></span>
		<div class="col-xs-4"></div>
	</div>
</div>-->
<form class="form-horizontal">
	<div class="col-xs-1 col-md-4"></div>
		<div class="row">
			<div class="col-xs-8 col-md-6" id="box">
				<div class="row form-group">
					<!--<span class="form-label col-xs-4">
						<%= f.label :Name , :class => 'control-label' %>
							<span class="star">*</span>
					</span>-->
					<span class="ccform-addon">
						<i class="fa fa-user fa-2x"></i>
					</span>
					<span class="form-fields col-xs-7">
						<%= f.text_field :name , :class => 'form-control',placeholder: "Name" %>
					</span>
					<div class="col-sm-1"></div>
				</div>
				<div class="row form-group">
					<!--<span class="form-label col-xs-4">
						<%= f.label :'Roll number' , :class => 'control-label'%>
							<span class="star">*</span>
					</span>-->
					<span class="ccform-addon">
						<i class="fa fa-registered fa-2x"></i>
					</span>
					<span class="form-fields col-xs-7">
						<%= f.text_field :rollno , :class => 'form-control' , placeholder: "Roll Number"%>
					</span>
					<div class="col-sm-1"></div>	
				</div>
				<div class="row dropdown_feed" id="dropdown1">
					<!--<span class="form-label col-xs-4"><%= f.label :Stream %>
						<span class="star">*</span>
					</span>-->
					<span class="ccform-addon">
						<i class="fa fa-graduation-cap fa-2x"></i>
					</span>
					<span class="form-fields col-xs-4">
						<%= f.select :stream, ['Imtech', 'Mtech', 'Phd'] , {:prompt => 'Select Stream'}, { :class => 'sub-menu-parent' }%>	
					</span>
					<!--<div class="col-xs-1"></div>-->
				</div>
				<div class="row form-group">
					<!--<span class="form-label col-xs-4">
						<%= f.label :Email , :class => 'control-label'%>
							<span class="star">*</span>
					</span>-->
					<span class="ccform-addon">
						<i class="fa fa-envelope fa-2x"></i>
					</span>
					<span class="form-fields col-xs-7">
						<%= f.text_field :email , :class => 'form-control' ,placeholder: "Email"%>
					</span>
					<!--<div class="col-xs-1"></div>-->
				</div>
				<div class="row form-group">
					<!--<span class="form-label col-xs-4">
						<%= f.label :'Phone no.' , :class => 'control-label' %>
					</span>-->
					<span class="ccform-addon">
						<i class="fa fa-mobile fa-3x"></i>
					</span>
					<span class="form-fields col-xs-7">
						<%= f.text_field :phone_no , :class => 'form-control',placeholder: "Mobile Number"%>
					</span>
					<!--<div class="col-sm-1"></div>-->
				</div>
				<div class="row form-group">
					<!--<span class="form-label col-xs-4">
						<%= f.label :Year , :class => 'control-label'%>
							<span class="star">*</span>
					</span>-->
					<span class="ccform-addon">
						<i class="fa fa-calendar fa-2x"></i>
					</span>
					<span class="form-fields col-xs-7">
						<%= f.text_field :year , :class => 'form-control' ,placeholder: "Year"%>
					</span>
					<!--<div class="col-xs-1"></div>-->
				</div>
				<!--<div class="row dropdown_feed" id="dropdown2">
					/*<span class="form-label col-xs-4">
						<%= f.label :Company , :class => 'control-label'%>
					</span>*/
					<span class="ccform-addon">
						<i class="fa fa-building-o fa-2x"></i>
					</span>
					<span class="form-fields col-xs-7">
						<%=f.collection_check_boxes :company_ids,@company,:id,
						:compname, {:prompt=> 'select companies'}, 
						 {:multiple=> true, :size=> 1}%> 
					</span>
					/*<div class="col-xs-4"></div>*/
				</div>-->

				<div class="multiselect">
				    <div class="selectBox" onclick="showCheckboxes()">
				    	<select>
				        	<option>Select an option</option>
				      	</select>
				      	<div class="overSelect"></div>
				    </div>
				    <div id="checkboxes">
				      	<label for="one">
				      	  	<input type="checkbox" id="one" />First checkbox</label>
				      	<label for="two">
				       	 	<input type="checkbox" id="two" />Second checkbox</label>
				      	<label for="three">
				        	<input type="checkbox" id="three" />Third checkbox</label>
				    </div>
				</div>


				<div class="row form-group">
					<!--<span class="form-label col-xs-4">
						<%= f.label :'Phone no.' , :class => 'control-label' %>
					</span>-->
					<span class="ccform-addon">
						<i class="fa fa-search fa-2x"></i>
					</span>
					<span class="form-fields col-xs-7">
						<%= f.text_field :focus , :class => 'form-control',placeholder: "Key Focuses"%>
					</span>
					<!--<div class="col-sm-1"></div>-->
				</div>
				<div class="row form-group">
					<span class="ccform-addon">
						<i class="fa fa-comments-o fa-2x"></i>
					</span>
					<span class="form-fields col-xs-7 col-md-7" id="feedtext">
						<%= f.text_area :feeback , :class => 'form-control',placeholder: "Enter Feedback" %>
					</span>
				</div>
			</div>
			<!--<div class="col-xs-12 col-md-5 box">
					<span class="form-label col-xs-4 col-md-3">
						<%= f.label :Feedback , :class => 'control-label'%>
							<span class="star">*</span>
					</span>
					<span class="ccform-addon">
						<i class="fa fa-comment fa-2x"></i>
					</span>
					<span class="form-fields col-xs-7 col-md-7" id="feedtext">
						<%= f.text_area :feeback , :class => 'form-control',placeholder: "Enter Feedback" %>
					</span>
			</div>-->
		</div>
	<div class="col-xs-2 col-md-2"></div>	
	<div class="row" id="submit">
		<div class="col-xs-4"></div>
		<span class="col-xs-4">
			<%= f.submit 'Create Student feed', :class => 'submit_sub_btn'%>
		</span>
		<div class="col-xs-4"></div>
	</div>
</form>
<% end %>
