

<%= form_for(@studentfeed) do |f| %>

<% if @studentfeed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@studentfeed.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @studentfeed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p>
	<%= f.label :rollno %>
	<%= f.text_field :rollno %>
</p>

<p>
	<%= f.label :email %>
	<%= f.text_field :email %>
</p>
<p>
	<%= f.label :year %>
	<%= f.text_field :year %>
</p>
<p>
	<%= f.label :feedback %>
	<%= f.text_area :feeback %>
</p>
<p>
	<%=  f.collection_select :company_id, Company.order(:compname),:id,:compname %>
</p>
<p>
	<%= f.submit %>
</p>
<% end %>