<header>
	<nav id="header-nav" class="navbar navbar-default">
		<div class="container" id="header-container" >
			<div class="navbar-header">
				<div class="navbar-brand">
					<h1 id="feed-head">IIITB Placement Reviews</h1>
				</div>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collap-nav" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle Navigation</span>
        			<span class="icon-bar"> </span>
        			<span class="icon-bar"> </span>
        			<span class="icon-bar"> </span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="collap-nav">
				<ul id="nav-list" class="nav navbar-nav navbar-right">
					<li><%= link_to "Home", "/welcome/index" %></li>
					<li class="active"><%= link_to "Student Feedback Form", "/student_feeds/new" %></li>
					<li><%= link_to "Student's Reviews", "/student_reviews/index" %></li>
					<li><%= link_to "Company's Reviews", "/company_reviews/index" %></li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<!--<header>
	<nav id="header-nav" class="navbar navbar-default">
		<div class="container" id="header-container" >
			<div class="navbar-header">
				<div class="navbar-brand">
					<h1 id="sec-feed-head">FeedBack Form</h1>
				</div>
			</div>
		</div>
	</nav>			
</header>-->

<%= form_for(@studentfeed) do |f| %>

<% if @studentfeed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@studentfeed.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @studentfeed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h1 id="sub-feed-head">FeedBack Form</h1>
<!--<div class="container">
	<div class="row">
		<span class="form-label col-xs-4"><%= f.label :Name %>*</span>
		<span class="form-fields col-xs-4"><%= f.text_field :name %></span>
		<div class="col-sm-4"></div>
	</div>

	<div class="row">
		<span class="form-label col-xs-4"><%= f.label :'Roll number' %>*</span>
		<span class="form-fields col-xs-4"><%= f.text_field :rollno %></span>
		<div class="col-sm-4"></div>
	</div>
	<div class="row" id="dropdrown">
		<div class="col-xs-4"></div>
		<span class="col-xs-4"><%= f.select :stream, ['Imtech', 'Mtech', 'Phd']%></span>
		<div class="col-xs-4"></div>
	</div>
	<div class="row">
		<span class="form-label col-xs-4"><%= f.label :Email %>*</span>
		<span class="form-fields col-xs-4"><%= f.text_field :email %></span>
		<div class="col-xs-4"></div>
	</div>

	<div class="row">
		<span class="form-label col-xs-4"><%= f.label :'Phone no.' %>*</span>
		<span class="form-fields col-xs-4"><%= f.text_field :phone_no %></span>
		<div class="col-sm-4"></div>
	</div>

	<div class="row">
		<span class="form-label col-xs-4"><%= f.label :Year %>*</span>
		<span class="form-fields col-xs-4"><%= f.text_field :year %></span>
		<div class="col-xs-4"></div>
	</div>
	<div class="row">
		<span class="form-label col-xs-4"><%= f.label :Feedback %>*</span>
		<span class="form-fields col-xs-4" id="feed-text"><%= f.text_area :feeback %></span>
		<div class="col-xs-4"></div>
	</div>
	<div class="row" id="dropdrown">
		<div class="col-xs-4"></div>
		<span class="col-xs-4"><%=  f.collection_select :company_ids, @company,:id,:compname , {},{multiple: true} %></span>
		<div class="col-xs-4"></div>
	</div>
	<div class="row" id="submit">
		<div class="col-xs-4"></div>
		<span class="col-xs-4"><%= f.submit %></span>
		<div class="col-xs-4"></div>
	</div>
</div>-->
<div class="col-md-1"></div>
<div class="row box">
		<div class="col-xs-12 col-md-4">
			<div class="row">
				<span class="form-label col-xs-4"><%= f.label :Name %><span class="star">*</span></span>
				<span class="form-fields col-xs-4"><%= f.text_field :name %></span>
				<div class="col-sm-4"></div>
			</div>
			<div class="row">
				<span class="form-label col-xs-4"><%= f.label :'Roll number' %><span class="star">*</span></span>
				<span class="form-fields col-xs-4"><%= f.text_field :rollno %></span>
				<div class="col-sm-4"></div>	
			</div>
			<div class="row" id="dropdrown">
				<span class="form-label col-xs-4"><%= f.label :Stream %><span class="star">*</span></span>
				<span class="form-fields col-xs-4"><%= f.select :stream, ['Imtech', 'Mtech', 'Phd']%></span>
				<div class="col-xs-4"></div>
			</div>
			<div class="row">
				<span class="form-label col-xs-4"><%= f.label :Email %><span class="star">*</span></span>
				<span class="form-fields col-xs-4"><%= f.text_field :email %></span>
				<div class="col-xs-4"></div>
			</div>
			<div class="row">
				<span class="form-label col-xs-4"><%= f.label :'Phone no.' %></span>
				<span class="form-fields col-xs-4"><%= f.text_field :phone_no %></span>
				<div class="col-sm-4"></div>
			</div>
			<div class="row">
				<span class="form-label col-xs-4"><%= f.label :Year %><span class="star">*</span></span>
				<span class="form-fields col-xs-4"><%= f.text_field :year %></span>
				<div class="col-xs-4"></div>
			</div>
			<div class="row" id="dropdrown">
				<span class="form-label col-xs-4"><%= f.label :Company %></span>
				<span class="form-fields col-xs-4"><%=  f.collection_select :company_id, Company.order(:compname),:id,:compname %></span>
				<div class="col-xs-4"></div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
				<span class="form-label col-xs-4"><%= f.label :Feedback %><span class="star">*</span></span>
				<span class="form-fields col-xs-8" id="feedtext"><%= f.text_area :feeback %></span>
		</div>
	</div>
	<div class="row" id="submit">
		<div class="col-xs-4"></div>
		<span class="col-xs-4"><%= f.submit 'Create Student feed', :class => 'submit_sub_btn'%></span>
		<div class="col-xs-4"></div>
	</div>
<% end %>
