

  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
   <body>
   <header>
    <nav id="header-nav" class="navbar navbar-default">
      <div class="container" id="header-container" >
        <div class="navbar-header">
          <div class="navbar-brand">
            <h1 id="review-head">IIITB Placement Reviews</h1>
          </div>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collap-nav" aria-expanded="false" aria-cfeedontrols="navbar">
            <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"> </span>
                <span class="icon-bar"> </span>
                <span class="icon-bar"> </span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="collap-nav">
          <ul id="nav-list" class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", "/welcome/index" %></li>
            <li><%= link_to "Feedback Form", "/student_feeds/new" %></li>
            <li class="active"><%= link_to "Student's Reviews", "/student_reviews/index" %></li>
            <li><%= link_to "Company's Reviews", "/company_reviews/index" %></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <h1 id="sub-review-head">Student's Review</h1>
    <%= form_for(@studentreview) do |f| %>
    <%= f.collection_select :company_id , @company, :id, :compname, {:prompt => 'Select Company'},{:class=>"dropdown"}%>
    <%= f.submit "search", :class => "button"%>
    <% end %>
    
    <p id="notice"><%= notice %></p>

    <% @user.reverse.each do |studentfeed| %>
    <div>
    <div class="w3-content" style="max-width:1400px">
      <div class="col-md-2"></div>
      <div class="row">
      <div class="col-xs-12 col-md-8" id = "box">
        <div class="w3-col ">
          <div class="w3-card-4 w3-margin w3-white">
            <div class="w3-container w3-padding-8">
              <h3 ><b><%= studentfeed.name %></b></h3>
              <h5 class ="right"> <%= studentfeed.companyname %> <br><span class="w3-opacity" ><%= studentfeed.year %></span></h5>
            </div>

            <div class="w3-container">
            <b>Key Focus: </b><%=studentfeed.focus %>
            <hr>
            <b>Feedback:</b>
             <% if studentfeed.feeback.length > 1000 %>
              <%=raw studentfeed.feeback.truncate(1000) %>
              <p><b><%= link_to '<button class="w3-button w3-padding-large w3-white w3-border">READ MORE >>></button>'.html_safe, studentfeed, :target=>"_blank" %></b></p>
              <% else %>
              <%=raw studentfeed.feeback %>
            <% end %>

        
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
    <hr style="margin:1px;">
    <% end %>
    
    </br>
    <%= link_to 'New StudentFeed', new_student_feed_path %></div>
  </body>
